{% extends "base.html" %}
{% load static %}

{% block title %}
    O nas
{% endblock %}

{% block content %}
    <section class="hero is-medium has-background">
        <img src="static/img/abouthero.jpg" alt="" class="hero-background">
        <div class="hero-body">
        </div>
    </section>
     <section class="section has-background-primary">
        <div class="container">
            <div class="columns has-text-centered is-all-white">

                <div class="column is-one-quarter">
                    <h4 class="is-size-4 mb-4">Doświadczenie</h4>
                    <span class="icon is-size-1">
                      <i class="fas fa-user"></i>
                    </span>
                </div>

                <div class="column is-one-quarter">
                    <h4 class="is-size-4 mb-4">Profesjonalizm</h4>
                    <span class="icon is-size-1">
                      <i class="fas fa-thumbs-up"></i>
                    </span>
                </div>

                <div class="column is-one-quarter">
                    <h4 class="is-size-4 mb-4">Terminowość</h4>
                    <span class="icon is-size-1">
                      <i class="fas fa-calendar-check"></i>
                    </span>
                </div>

                <div class="column is-one-quarter">
                    <h4 class="is-size-4 mb-4">Jakość</h4>
                    <span class="icon is-size-1">
                      <i class="fas fa-medal"></i>
                    </span>
                </div>
            </div>
        </div>
    </section>
    <section class="section container">
            <h2 class="has-text-centered has-text-primary is-size-2 mb-5">O NAS</h2>
            <div class="columns">
                <div class="column is-half has-text-justified is-flex is-align-items-center">
                    Firma Domy Drewniane Szczecin powstała w odpowiedzi na wysokie zapotrzebowanie na oryginalne i stylowe konstrukcje drewniane. Już od 2000 roku rozpoczynaliśmy swoją przygodę jako monterzy konstrukcji drewnianych. 
                    <br>
                    <br>
                    Wychodząc naprzeciw oczekiwaniom klientów, podnosząc uprzednio kwalifikacje naszej kadry pracowniczej, rozszerzyliśmy spektrum swojej działalności. Staliśmy się pionierem w produkcji oraz budowie wszelkiego rodzaju niestandardowych i luksusowych konstrukcji oraz budowli drewnianych.
                         <br>
                    <br>
                    Domy Drewniane Szczecin jako jedna z niewielu firm na polskim rynku posiada kompleksową linię technologiczną do produkcji domów drewnianych. Służymy fachową pomocą i profesjonalnym doradztwem przy realizacji wszelkich inwestycji.
                    
                </div>
                <div class="column is-half">
                    <figure class="image">
                        <img style="height: 80%" src="static/img/aboutcottage.jpg" alt="">
                    </figure>
                </div>
            </div>
    </section>


{% endblock %}


{% block javascript %}
    <script src="{% static "js/fslightbox.js" %}"></script>
{% endblock %}
