{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% load customtags %}
{% block title %} Strona główna {% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static "css/glide.core.min.css" %}" />
<link rel="stylesheet" href="{% static "css/glide.theme.min.css" %}"  />
{% endblock %}

{% block content %}
<div class="glide">
  <div class="glide__track" data-glide-el="track">
    <ul class="glide__slides">
      <li class="glide__slide">
          <div class="glide__slide-image" style='background-image: url("{% static "img/slider/slide1.jpg" %}")'></div>
          <div class="glide__slide-info is-flex is-flex-direction-column is-justify-content-center">
              <h2 class="is-size-1">Domki drewniane</h2>
              <p class="is-size-4">Budowane z pasją</p>
              <br>
              <button class="button is-transparent is-large scale-up">Sprawdź</button>
          </div>
      </li>
      <li class="glide__slide">
          <div class="glide__slide-image" style='background-image: url("{% static "img/slider/slide2.jpg" %}")'></div>
      <li class="glide__slide">
          <div class="glide__slide-image" style='background-image: url("{% static "img/slider/slide3.jpg" %}")'></div>
      </li>
    </ul>
  </div>
  <div class="glide__arrows" data-glide-el="controls">
    <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><span class="icon"><i class="fas fa-arrow-left"></i></span></button>
    <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><span class="icon"><i class="fas fa-arrow-right"></i></span></button>
  </div>
</div>

    <section class="section homepage">
        <div class="columns">
         <div class="column is-one-quarter">
            <article class="panel is-primary has-background-white">
                <form method="get" action="." class="is-flex is-flex-direction-column">
              <p class="panel-heading">
                Wyszukaj
              </p>
              <div class="panel-block is-flex is-flex-direction-column">
              <h3 class="is-size-6">Typ konstrukcji</h3>
                <div class="select is-multiple is-fullwidth">
                  <select multiple size="2" name="constructions">
                      {% for construction in constructions %}
                        <option value="{{ construction.name }}" {% if construction.name in params|get:"constructions" %} selected {% endif %}>{{ construction.name }}</option>
                      {% endfor %}
                  </select>
                </div>
              </div>

              <div class="panel-block is-flex is-flex-direction-column is-align-items-stretch">
                <h3 class="is-size-6 is-align-self-center">Powierzchnia do [m&#178;]</h3>
                  <div class="is-flex is-align-items-center">
                      <input name="floor_area" id="sliderWithValue" class="slider has-output is-fullwidth" min="{{ floor_area.min }}" max="{{ floor_area.max }}" value="{% if params|get:"floor_area" %}{{ params|get:"floor_area"}}{% else %}{{ floor_area.max }}{% endif %}" step="1" type="range">
                      <output for="sliderWithValue">{% if params|get:"floor_area" %}{{ params|get:"floor_area"}}{% else %}{{ floor_area.max }}{% endif %}</output>
                  </div>
              </div>

              <div class="panel-block is-flex is-flex-direction-column">
               <h3 class="is-size-6">Dodatkowa zabudowa</h3>
                <div class="select is-multiple is-fullwidth">
                  <select multiple size="2" name="additionals">
                      {% for additional in additionals %}
                        <option value="{{ additional.name }}" {% if additional.name in params|get:"additionals" %} selected {% endif %}>{{ additional.name }}</option>
                      {% endfor %}
                  </select>
                </div>
              </div>

              <div class="panel-block is-flex is-flex-direction-column is-align-items-stretch">
                <h3 class="is-size-6 is-align-self-center">Wysokość do [cm]</h3>
                  <div class="is-flex is-align-items-center">
                      <input name="height" id="sliderWithValue" class="slider has-output is-fullwidth" min="{{ height.min }}" max="{{ height.max }}" value="{% if params|get:"floor_area" %}{{ params|get:"height"}}{% else %}{{ height.max }}{% endif %}" step="20" type="range">
                      <output for="sliderWithValue">{% if params|get:"floor_area" %}{{ params|get:"height"}}{% else %}{{ height.max }}{% endif %}</output>
                  </div>
              </div>

              <div class="panel-block is-flex is-flex-direction-column is-justify-content-center">
                  <input type="checkbox" name="terrace" id="terrace" class="is-checkradio optional-checkbox is-vertical-aligned" {% if params|get:"terrace" %} checked{% endif %}>
                  <label for="terrace">Z tarasem</label>
              </div>

              <div class="panel-block is-flex is-flex-direction-column is-justify-content-center">
                  <h3 class="is-size-6">Ilość pokoi</h3>
                  <div class="select is-fullwidth">
                    <select name="rooms">
                        <option value="Dowolna" {% if params|get:"rooms" == "Dowolna" %} selected {% endif %}>Dowolna</option>
                        <option value="1" {% if params|get:"rooms" == "1" %} selected {% endif %}>1</option>
                        <option value="2-3" {% if params|get:"rooms" == "2-3" %} selected {% endif %}>2-3</option>
                        <option value="Więcej" {% if params|get:"rooms" == "Więcej" %} selected {% endif %}>Więcej</option>
                    </select>
                </div>
              </div>



                    <input type="submit" value="Szukaj" class="button is-primary mt-3">
                </form>
            </article>
         </div>
        <div class="column">
            <div class="columns is-multiline">
                {% for cottage in cottages %}
                    <a class="column is-one-quarter-desktop is-one-third-tablet" href="{{ cottage.get_absolute_url }}">
                        <div>
                            <div class="card hover-up">
                                <div class="card-image">
                                    <figure class="image is-4by3">
                                        {% thumbnail cottage.cottage_photos.first.image "200x150" crop="center" as im %}
                                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                        {% endthumbnail %}
                                    </figure>
                                  </div>
                                <div class="card-content">
                                    <div class="content">
                                        <h3>{{ cottage.name }}</h3>
                                            <p>
                                                {{ cottage.description|truncatewords:15|safe }}
                                            </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        <nav class="pagination is-centered" role="navigation" aria-label="pagination">
            {% if cottages.has_previous %}
                <a class="pagination-previous" href="?{% url_replace request 'page' cottages.previous_page_number %}">Poprzednia strona</a>
            {% endif %}
            {% if cottages.has_next %}
                <a class="pagination-next" href="?{% url_replace request 'page' cottages.next_page_number %}">Następna strona</a>
            {% endif %}
          <ul class="pagination-list">
            {% if cottages.has_previous %}
            <li><a class="pagination-link" aria-label="Goto page 1" href="?{% url_replace request 'page' 1 %}">1</a></li>
            <li><span class="pagination-ellipsis">&hellip;</span></li>
            {% endif %}
            {% if cottages.has_previous %}
              <li><a class="pagination-link" aria-label="Goto page {{ cottages.previous_page_number }}" href="?{% url_replace request 'page' cottages.previous_page_number %}">{{ cottages.previous_page_number }}</a></li>
            {% endif %}
            <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">{{ cottages.number }}</a></li>
            {% if cottages.has_next %}
              <li><a class="pagination-link" aria-label="Goto page {{ cottages.next_page_number }}" href="?{% url_replace request 'page' cottages.next_page_number %}">{{ cottages.next_page_number }}</a></li>
            {% endif %}
            {% if cottages.has_next %}
            <li><span class="pagination-ellipsis">&hellip;</span></li>
            <li><a class="pagination-link" aria-label="Goto page {{ cottages.paginator.num_pages }}" href="?{% url_replace request 'page' cottages.paginator.num_pages %}">{{ cottages.paginator.num_pages }}</a></li>
            {% endif %}
          </ul>
        </nav>
        </div>

        </div>
    </section>
{% endblock %}


{% block javascript %}
    <script>
        const sliders = document.querySelectorAll('.slider');

        sliders.forEach( slider => {
            slider.addEventListener('input', () => {
                slider.nextElementSibling.innerHTML = slider.value
            })
        })
    </script>
    <script src="{% static "js/glide.min.js" %}"></script>
    <script>
        new Glide('.glide').mount()
    </script>

{% endblock %}
