{% extends "base.html" %}
{% load static %}

{% block title %}
    O nas
{% endblock %}

{% block content %}
    <section class="hero is-medium has-background">
        <img src="{% static "img/abouthero.jpg" %}" alt="" class="hero-background">
        <div class="hero-body">
            <p class="title">
                Działki nad jeziorem
            </p>
            <p class="subtitle">
                Doskonałe pod zabudowę
            </p>
        </div>
    </section>

    <section class="section container">
            <h2 class="has-text-centered has-text-primary is-size-2 mb-5">Oferta</h2>
            <div class="columns">
                <div class="column is-half has-text-justified is-flex is-align-items-center">
                    Zajmujemy się profesjonalnym montażem lorem ipsum dolor sit amet,
consectetur adipiscing elit. Nunc viverra erat nec tortor mollis, sed semper est tincidunt. Suspendisse ac dolor aliquam, rhoncus leo eget, dictum mauris. Praesent eleifend diam at venenatis interdum. Cras semper dapibus placerat. Nam gravida nulla eu nisl faucibus consequat. Aenean egestas elit purus, eget sagittis velit ullamcorper lacinia.
                </div>
                <div class="column is-half has-line-left">
                    <figure class="image">
                        <img style="height: 80%" src="{% static "img/aboutcottage.png" %}" alt="">
                    </figure>
                </div>
            </div>
    </section>
{% endblock %}


{% block javascript %}
    <script src="{% static "js/fslightbox.js" %}"></script>
{% endblock %}
