{% extends "base.html" %}
{% load static %}

{% block title %}
    Co robimy
{% endblock %}

{% block content %}

    <section class="hero is-medium has-background">
        <img src="{% static "img/abouthero.jpg" %}" alt="" class="hero-background">
        <div class="hero-body">
        </div>
    </section>
    <section class="section has-background-primary">
        <div class="container">
            <div class="columns has-text-centered is-all-white">

                <div class="column is-one-quarter">
                    <h4 class="is-size-4 mb-4">Doświadczenie</h4>
                    <span class="icon is-size-1">
                      <i class="fas fa-user"></i>
                    </span>
                </div>

                <div class="column is-one-quarter">
                    <h4 class="is-size-4 mb-4">Profesjonalizm</h4>
                    <span class="icon is-size-1">
                      <i class="fas fa-thumbs-up"></i>
                    </span>
                </div>

                <div class="column is-one-quarter">
                    <h4 class="is-size-4 mb-4">Terminowość</h4>
                    <span class="icon is-size-1">
                      <i class="fas fa-calendar-check"></i>
                    </span>
                </div>

                <div class="column is-one-quarter">
                    <h4 class="is-size-4 mb-4">Jakość</h4>
                    <span class="icon is-size-1">
                      <i class="fas fa-medal"></i>
                    </span>
                </div>
            </div>
        </div>
    </section>

    <section class="section container">
        <h2 class="has-text-centered has-text-primary is-size-2 mb-5">CO ROBIMY</h2>
        <div class="columns is-centered is-vcentered is-mobile">
            <div class="column is-half is-narrow has-text-centered">
                <p><b>Zajmujemy się produkcją oraz montażem</b></p><br>
                <p>domów całorocznych, domów szkieletowych i domów letniskowych. Wykonujemy domy pod klucz oraz domy do
                    stanu surowego otwartego.</p>
            </div>
            <div class="column is-half">
                <figure class="image">
                    <img style="height: 80%" src="{% static "img/aboutcottage.jpg" %}" alt="">
                </figure>
            </div>
        </div>

        <div class="columns is-centered is-vcentered is-mobile">
            <div class="column is-half">
                <figure class="image">
                    <img style="height: 80%" src="{% static "img/aboutcottage.jpg" %}" alt="">
                </figure>
            </div>
            <div class="column is-half is-narrow has-text-centered">
                <p><b>Prowadzimy budowę</b></p><br>
                <p>w oparciu o projekt dostarczony przez klienta. Dzięki współpracy ze sprawdzonym biurem
                    architektonicznym proponujemy stworzenie indywidualnego projektu dostosowanego do Państwa potrzeb i
                    możliwości.</p>
            </div>
        </div>

        <div class="columns is-centered is-vcentered is-mobile">
            <div class="column is-half is-narrow has-text-centered">
                <p><b>Produkty najwyższej jakości</b></p><br>
                <p>od całej gamy pergoli, altan i innych elementów architektury ogrodowej. Realizujemy indywidualne
                    projekty i nieszablonowe rozwiązania zgodnie z wszelkimi wymaganiami.</p>
            </div>
            <div class="column is-half">
                <figure class="image">
                    <img style="height: 80%" src="{% static "img/aboutcottage.jpg" %}" alt="">
                </figure>
            </div>
        </div>

        <div class="columns is-centered is-vcentered is-mobile">
            <div class="column is-half">
                <figure class="image">
                    <img style="height: 80%" src="{% static "img/aboutcottage.jpg" %}" alt="">
                </figure>
            </div>
            <div class="column is-half is-narrow has-text-centered">
                <p><b>Działki nad jeziorem </b></p><br>
                <p>wraz ziemią to idealne rozwiązanie, aby zamówić u nas gotowy domek. Fakt ten sprawia, że nie musisz
                    się martwić już niczym tylko korzystać z uroków domku letniskowego nad jeziorem. </p>
            </div>
        </div>


    </section>


{% endblock %}


{% block javascript %}
    <script src="{% static "js/fslightbox.js" %}"></script>
{% endblock %}
