{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Domki: {% block title %} {% endblock %}</title>
    <script
      src="https://kit.fontawesome.com/c2e4d434ca.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static 'bulma/css/style.css' %}" />
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="{% url "index" %}">
            <span class="icon-text">
              <span class="icon">
                <i class="fas fa-home"></i>
              </span>
              <span>Domki<br />letniskowe</span>
            </span>
          </a>

          <a
            role="button"
            class="navbar-burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbarBasicExample"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item" href="{% url "about" %}"> O nas </a>
            <a class="navbar-item" href="{% url "dzialki-nad-jeziorem" %}"> Działki nad jeziorem </a>
            <a class="navbar-item"> Kontakt </a>
            <hr />
            <div class="navbar-item">
              <span class="icon-text is-flex is-align-items-center">
                <span class="icon phone">
                  <i class="fas fa-mobile-alt"></i>
                </span>
                <div class="is-size-7">
                  <a href="tel:+48123456789"><b>+48 123 456 789</b></a>
                  <p>pon-pt: 9:00-18:00</p>
                </div>
              </span>
            </div>
          </div>
        </div>
      </div>
    </nav>

        {% block content %} {% endblock %}

    <footer class="footer is-dark">
        <div class="container">
            <div class="columns">
                <div class="column is-two-fifths">© 2021 Domki letniskowe <br> <span class="is-size-7">Wszelkie prawa zastrzeżone</span></div>
                <div class="column">Więcej info</div>
            </div>
        </div>
    </footer>

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(
          document.querySelectorAll(".navbar-burger"),
          0
        );

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {
          // Add a click event on each of them
          $navbarBurgers.forEach((el) => {
            el.addEventListener("click", () => {
              // Get the target from the "data-target" attribute
              const target = el.dataset.target;
              const $target = document.getElementById(target);

              // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
              el.classList.toggle("is-active");
              $target.classList.toggle("is-active");
            });
          });
        }
      });
    </script>
  {% block javascript %}
  {% endblock %}
  </body>
</html>
