{% extends "base.html" %}
{% load static %}
{% block title %} Strona główna {% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static "css/glide.core.min.css" %}" />
<link rel="stylesheet" href="{% static "css/glide.theme.min.css" %}"  />
{% endblock %}

{% block content %}
<div class="glide">
  <div class="glide__track" data-glide-el="track">
    <ul class="glide__slides">
      <li class="glide__slide">
          <div class="glide__slide-image" style='background-image: url("{% static "img/slider/slide1.jpg" %}")' />
          <div class="glide__slide-info is-flex is-flex-direction-column is-justify-content-center">
              <h2 class="is-size-1">Domki drewniane</h2>
              <p class="is-size-5">Budowane z pasją</p>
              <button class="button is-transparent is-large">Sprawdź</button>
          </div>
      </li>
      <li class="glide__slide"><img src="{% static "img/slider/slide2.jpg" %}" /></li>
      <li class="glide__slide"><img src="{% static "img/slider/slide3.jpg" %}" /></li>
    </ul>
  </div>
  <div class="glide__arrows" data-glide-el="controls">
    <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><span class="icon"><i class="fas fa-arrow-left"></i></span></button>
    <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><span class="icon"><i class="fas fa-arrow-right"></i></span></button>
  </div>
</div>

    <section class="section homepage">
        <div class="columns">

            <article class="panel is-primary column has-background-white">
  <p class="panel-heading">
    Primary
  </p>
  <p class="panel-tabs">
    <a class="is-active">All</a>
    <a>Public</a>
    <a>Private</a>
    <a>Sources</a>
    <a>Forks</a>
  </p>
  <div class="panel-block">
    <p class="control has-icons-left">
      <input class="input is-primary" type="text" placeholder="Search">
      <span class="icon is-left">
        <i class="fas fa-search" aria-hidden="true"></i>
      </span>
    </p>
  </div>
  <a class="panel-block is-active">
    <span class="panel-icon">
      <i class="fas fa-book" aria-hidden="true"></i>
    </span>
    bulma
  </a>
  <a class="panel-block">
    <span class="panel-icon">
      <i class="fas fa-book" aria-hidden="true"></i>
    </span>
    marksheet
  </a>
  <a class="panel-block">
    <span class="panel-icon">
      <i class="fas fa-book" aria-hidden="true"></i>
    </span>
    minireset.css
  </a>
  <a class="panel-block">
    <span class="panel-icon">
      <i class="fas fa-book" aria-hidden="true"></i>
    </span>
    jgthms.github.io
  </a>
</article>
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                          <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                        </figure>
                      </div>
                    <div class="card-content">
                        <div class="content">
                            <h3>Domek 1</h3>
                                <p>
                                    Greyhound hello coldly wonderfully marginally
                                </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                          <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                        </figure>
                      </div>
                    <div class="card-content">
                        <div class="content">
                            <h3>Domek 1</h3>
                                <p>
                                    Greyhound hello coldly wonderfully marginally
                                </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                          <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                        </figure>
                      </div>
                    <div class="card-content">
                        <div class="content">
                            <h3>Domek 1</h3>
                                <p>
                                    Greyhound hello coldly wonderfully marginally
                                </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                          <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                        </figure>
                      </div>
                    <div class="card-content">
                        <div class="content">
                            <h3>Domek 1</h3>
                                <p>
                                    Greyhound hello coldly wonderfully marginally
                                </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block javascript %}
    <script src="{% static "js/glide.min.js" %}"></script>
    <script>
        new Glide('.glide').mount()
    </script>
{% endblock %}
